{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {'label': 'Escribe tu puto email'}) }}
        {{ form_row(registrationForm.name, {'label': 'Aqui tu nombre desgraciado'}) }}
        {{ form_row(registrationForm.lastName, {'label': 'Tu apellido despojo'}) }}
        {{ form_row(registrationForm.city, {'label': 'La ciudad de mierda en la que vives'}) }}
        {{ form_row(registrationForm.moneyTime, {'label': 'Estos son tus dineros iniciales'}) }}
        {{ form_row(registrationForm.profilePic, {'label': 'ponte una foto secsi'}) }}
        {{ form_row(registrationForm.plainPassword, {'label': 'La contraseña'}) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
